<h3>dktravel</h3>

<p>testing...</p>

<form action="/entries" method="get">

  <div>
    <label>
      Guidebook
      <select name="guidebook">
        <%= options_for_select Pearson::Eyewitness::APIClient::GUIDEBOOKS.sort.map {|gb| [gb,gb]}, 'berlin' %>
      </select>
    </label>
  </div>

  <div>
    <label>
      Longitude
      <input id="longitude" name="longitude" type="text" />
    </label>
  </div>

  <div>
    <label>
      Latitude
      <input id="latitude" name="latitude" type="text" />
    </label>
  </div>
  
  <div>
    <input type="submit" />
  </div>

</form>
